@import url(http://fonts.googleapis.com/css?family=Signika:400,700);

.container {
  font-family: 'Signika', sans-serif;
  position: fixed;
  top: 10px;
  right: 10px;
  bottom: 10px;
  left: 10px;
  background: #2B8CBE;
}

body {
  background-image: -ms-linear-gradient(top, #F7FCF0 0%, #E0F3DB 100%);   /* IE10 Consumer Preview */ 
  background-image: -moz-linear-gradient(top, #F7FCF0 0%, #E0F3DB 100%);   /* Mozilla Firefox */ 
  background-image: -o-linear-gradient(top, #F7FCF0 0%, #E0F3DB 100%);   /* Opera */ 
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F7FCF0), color-stop(1, #E0F3DB));   /* Webkit (Safari/Chrome 10) */ 
  background-image: -webkit-linear-gradient(top, #F7FCF0 0%, #E0F3DB 100%);   /* Webkit (Chrome 11+) */ 
  background-image: linear-gradient(to bottom, #F7FCF0 0%, #E0F3DB 100%);   /* W3C Markup, IE10 Release Preview */ 
}

div.login {
  color: #084081;
  position: absolute;
  top: 48%;
  left: 52%;
  margin-top: -100px;
  margin-left: -200px;
}

i {
  display: inline-block;
  color: #F7FCF0;
  text-shadow: 1px 1px 0px rgba(0,0,0,0.15), 3px 3px 0px rgba(0,0,0,0.05);
}

span.brand {
  font-weight: 700;
  font-size: 1em;
}

button a {
  text-decoration: none;
  color: black;
}

div.tweet {
  box-shadow: 2px 2px 0px rgba(0,0,0,0.15), 6px 6px 0px rgba(0,0,0,0.05), inset 0 0 0 4px rgba(0,0,0,0.05);
  border-radius: 6px;
  color: #084081;
  background: #F7FCF0;
  padding: 1.5em;
  position: absolute;
  top: 40%;
  left: 50%;
  margin-top: -100px;
  margin-left: -200px;
}

div.tweet p {
  text-align: center;
}

div.tweet > h2 {
  text-align: center;
}

div.tweet > span#sign_out {
  position: relative;
  top: -3em;
  left: 1.5em;
  float: right;
}

form#tweetForm > textarea {
  resize: none;
  min-height: 75px;
  max-height: 75px;
  max-width: 99%;
  min-width: 99%;
}

form#tweetForm > p > input[type=text] {
  text-align: center;
  max-width: 2em;
  min-width: 2em;
}

div.login > div.control-group {
  display: inline-block;
  text-align: center;
  padding: 0 0 0 0;
  margin: 0 0 0 20px;
}

div.control-group > a {
  letter-spacing: 1px;
  text-shadow: 1.5px 1.5px 0px #084081;
  margin-bottom: 10px;
  float: right;
  color: #F7FCF0;
  text-decoration: none;
  font-size: 1.1em;
  padding: 24px 26px;
  display: inline-block;
  border-radius: 6px;
  border: solid rgba(0,0,0,0.2);
  border-width: 1px 1px 5px;
  box-shadow: 0 5px 0 rgba(0,0,0,0.1), inset 0 0 3px rgba(255,255,255,0.3);
  cursor: pointer;
  user-select: none;
  transition: 0.4s ease;
}

input[type=submit] {
  width: 11em;
  display: block;
  margin: 0 auto;
  letter-spacing: 1px;
  text-shadow: 1.5px 1.5px 0px #084081;
  color: #F7FCF0;
  text-decoration: none;
  font-size: 1.1em;
  padding: 24px 26px;
  border-radius: 6px;
  border: solid rgba(0,0,0,0.2);
  border-width: 1px 1px 5px;
  box-shadow: 0 5px 0 rgba(0,0,0,0.1), inset 0 0 3px rgba(255,255,255,0.3);
  cursor: pointer;
  user-select: none;
  transition: 0.4s ease;
}

div.control-group a:hover, input[type=submit]:hover { 
  transform: translateY(-3px);
  box-shadow: 0 6px 0 rgba(0,0,0,0.1), inset 0 0 1px rgba(255,255,255,0.4);
  border-bottom-width: 8px;
}

div.control-group a:active, input[type=submit]:active { 
  transform: translateY(4px);
  box-shadow: 0 2px 0 rgba(0,0,0,0.1), inset 0 0 5px rgba(255,255,255,0.4);
  border-bottom-width: 2px; transition:0.1s ease;
}

div.control-group a.blue, input[type=submit].blue { 
  background: hsl(205, 91%, 35%);
}


a {
  text-decoration: none;
  color: #084081
}

a:hover {
  border-bottom: 1px dotted;
  color: hsl(212, 87%, 44%);
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: 0.4s ease;
}



