<div class="container">

  <div class="login">
    <div class="control-group">
      <i class="icon-twitter icon-4x icon-reverse"></i>
      <div class='slogan'>Welcome to<br><span class='brand'>Tweet Timer</span></div>
    </div>
    <div class="control-group">
      <a class="blue" href="/sign_in">Login via Twitter</a>
    </div>
  </div>

</div>
