<div class="container">
  <h1>Tweet as @<%= current_user.username %></h1>
  <p><a href="/sign_out">Sign Out</a></p>

  <form id="tweetForm" method="post" action="/tweet">
    <textarea autofocus name='body' placeholder="Enter your tweet here..."></textarea>
    <p>
    <input type='submit'>
    </p>
  </form>

  <div class='response'>
  </div>

</div>
