<div class="container">

  <div class="tweet">
    <h2>Schedule a tweet for <a href="http://www.twitter.com/<%= current_user.username %>" target="_blank">@<%= current_user.username %></a></h2>

    <form id="tweetForm" method="post" action="/tweet">
      <textarea autofocus name='body' placeholder="Enter your tweet here..." maxlength="144"></textarea>
      <p>
        <input type='text' name='timer' maxlength='3' placeholder="2">
        <label>minutes</label>
      </p>
      <p>
        <input class="blue" type='submit' value="Schedule">
      </p>
    </form>
    <p>
      <a href="/sign_out">Log Out</a>
    </p>

    <div class='response'>
    </div>
    
  </div>
  
</div>
